-# app/views/publicboard/home/_billboard.html.haml

.billboard
  .billboardBox
    .billboardItem
      .billboardLeftWrap
        %h1.billboardTitle Pede o teu recibo finalista.
        %p.billboardText Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        %p.billboardText Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit.
