-# app/views/publicboard/home/_header.html.haml

%header.universal.purple20Bg
  .placeholder
    .wrap
      .row12Left
        -# start: Logo
        = render partial: "publicboard/partials/logo"
        -# end: Logo

        -# start: Main Menu
        = render partial: "publicboard/partials/mainMenu"
        -# end: Main Menu
    .clear
