-# app/views/publicboard/home/_map.html.haml

.map
  .mapBox
    .mapItem
      -# %iframe{allowfullscreen: "", frameborder: "0", height: "524", src: "https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d25511.37311384616!2d-16.926175128202203!3d32.65716080849079!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spt!4v1447266290301", style: "border:0", width: "100%"}
