-# app/views/publicboard/home/_partners.html.haml

.partners
  .partnersBox
    .partnersItem
      %h2.partnersTitle Parceiros
      %p.partnersText Nullam id dolor id nibh ultricies vehicula ut id elit.
  %ul.partnersBox
    %li.partnersList
    %li.partnersList
    %li.partnersList
    %li.partnersList
