-# app/views/publicboard/home/_podium.html.haml

.podium
  .podiumBox
    .podiumItem
      %h2.podiumTitle Pódio
      %p.podiumText Nullam id dolor id nibh ultricies vehicula ut id elit.
  %ul.podiumBox
    %li.podiumList
      .podiumListSecond
        %h3.podiumName Mattis Risus Purus
    %li.podiumList
      .podiumListFirst
        %h3.podiumName Justo Cursus Tristique Tellus
    %li.podiumList
      .podiumListThird
        %h3.podiumName Magna Tellus
