-# app/views/publicboard/home/_schools.html.haml

.grid
  %ul.gridBox
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Fusce
      %h3.gridName Elit Justo Fermentum Commodo
    %li.gridList
      %p.gridLabel Mattis Ultricies
      %h3.gridName Ridiculus Tellus Ullamcorper
    %li.gridList
      %p.gridLabel Cras
      %h3.gridName Pharetra Pellentesque Mollis
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Fusce
      %h3.gridName Elit Justo Fermentum Commodo
    %li.gridList
      %p.gridLabel Mattis Ultricies
      %h3.gridName Ridiculus Tellus Ullamcorper
    %li.gridList
      %p.gridLabel Cras
      %h3.gridName Pharetra Pellentesque Mollis
