-# app/views/publicboard/home/_schools.html.haml

.schools
  -# .schoolsBox
    -# .schoolsItem
      -# %h2.schoolsTitle Escolas Aderentes
  %ul.schoolsBox
    %li.schoolsList
      %p.schoolsLabel Ullamcorper Vulputate
      %h3.schoolsName Sit Justo Vestibulum
    %li.schoolsList
      %p.schoolsLabel Fusce
      %h3.schoolsName Elit Justo Fermentum Commodo
    %li.schoolsList
      %p.schoolsLabel Mattis Ultricies
      %h3.schoolsName Ridiculus Tellus Ullamcorper
    %li.schoolsList
      %p.schoolsLabel Cras
      %h3.schoolsName Pharetra Pellentesque Mollis
    %li.schoolsList
      %p.schoolsLabel Ullamcorper Vulputate
      %h3.schoolsName Sit Justo Vestibulum
    %li.schoolsList
      %p.schoolsLabel Fusce
      %h3.schoolsName Elit Justo Fermentum Commodo
    %li.schoolsList
      %p.schoolsLabel Mattis Ultricies
      %h3.schoolsName Ridiculus Tellus Ullamcorper
    %li.schoolsList
      %p.schoolsLabel Cras
      %h3.schoolsName Pharetra Pellentesque Mollis
