-# app/views/publicboard/home/_stores.html.haml

.stores
  .storesBox
    .storesItem
      %h2.storesTitle Lojas Aderentes
      %p.storesText Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      = link_to "Ver Lista", stores_path, class: "storesLink"
