// app/assets/stylesheets/publicboard/partials/_billboard.scss

//
// Elements
//

.billboard {
  @include floatRight;
  .billboardBox {
    @include floatLeft;
    .billboardItem {
      @include floatLeft;
      background-color: $purple20;
      margin: 8px;
      .billboardLeftWrap {
        @include floatLeft;
        margin: 10% 0 0 0;
      }
      .billboardRightWrap {
        @include floatRight;
      }
      .billboardTitle {
        @include floatLeft;
        color: $gray03;
        width: 100%;
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 2em;
      }
      .billboardText {
        @include floatLeft;
        color: $gray01;
        width: 100%;
        margin: 32px 0 0 0;
        font-size: 18px;
        line-height: 1.6em;
      }
    }
  }
}

//
// Media Queries
//

@media #{$tiny} {
  .billboard {
    .billboardBox {
      .billboardItem {
        width: 284px;
        height: 544px;
        .billboardLeftWrap {
          width: 142px;
        }
        .billboardRightWrap {
          width: 142px;
        }
      }
    }
  }
}

@media #{$small} {
  .billboard {
    .billboardBox {
      .billboardItem {
        width: 524px;
        height: 544px;
        .billboardLeftWrap {
          width: 262px;
        }
        .billboardRightWrap {
          width: 262px;
        }
      }
    }
  }
}

@media #{$medium} {
  .billboard {
    .billboardBox {
      .billboardItem {
        width: 704px;
        height: 544px;
        .billboardLeftWrap {
          width: 352px;
        }
        .billboardRightWrap {
          width: 352px;
        }
      }
    }
  }
}

@media #{$large} {
  .billboard {
    .billboardBox {
      .billboardItem {
        width: 944px;
        height: 544px;
        .billboardLeftWrap {
          width: 472px;
        }
        .billboardRightWrap {
          width: 472px;
        }
      }
    }
  }
}
