// app/assets/stylesheets/publicboard/partials/_grid.scss

//
// Elements
//

.grid {
  @include floatRight;
  margin: 0 0 128px 0;
  .gridBox {
    @include floatLeft;
    .gridItem {
      @include floatLeft;
      margin: 8px;
      .gridTitle {
        @include floatLeft;
        color: $gray20;
        width: 100%;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        line-height: 2em;
      }
      .gridSubtitle {
        @include floatLeft;
        color: $gray20;
        width: 100%;
        font-size: 18px;
        font-weight: 900;
        line-height: 2em;
      }
    }
    .gridList {
      @include floatLeft;
      background-color: #ffffff;
      min-height: 64px;
      margin: 8px;
      padding: 6px;
      border: 1px solid $gray02;
      border-radius: 4px;
      .gridLabel {
        @include floatLeft;
        color: $gray30;
        margin: 0 0 4px 0;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 16px;
      }
      .gridName {
        @include floatLeft;
        color: $gray00;
        width: 100%;
        font-size: 18px;
        font-weight: 100;
        line-height: 22px;
      }
    }
  }
}

//
// Media Queries
//

@media #{$tiny} {
  .grid {
    .gridBox {
      .gridItem {
        width: 284px;
      }
      .gridList {
        width: 268px;
      }
    }
  }
}

@media #{$small} {
  .grid {
    .gridBox {
      .gridItem {
        width: 524px;
      }
      .gridList {
        width: 238px;
      }
    }
  }
}

@media #{$medium} {
  .grid {
    .gridBox {
      .gridItem {
        width: 704px;
      }
      .gridList {
        width: 208px;
      }
    }
  }
}

@media #{$large} {
  .grid {
    .gridBox {
      .gridItem {
        width: 944px;
      }
      .gridList {
        width: 208px;
      }
    }
  }
}
