// app/assets/stylesheets/publicboard/partials/_logo.scss

//
// Elements
//

.logo {
  @include floatLeft;
  .logoBox {
    @include floatLeft;
    .logoList {
      @include floatLeft;
      margin: 8px;
      .logoText {
        color: $purple03;
        font-size: 18px;
        font-weight: 400;
        line-height: 64px;
      }
      .logoLink {
        @include floatLeft;
        font-size: 32px;
        font-weight: 400;
        line-height: 64px;
        &:link,
        &:visited {
          color: $purple03;
        }
        &:hover,
        &:focus,
        &:active {
          color: $purple02;
        }
      }
    }
  }
}

//
// Media Queries
//

@media #{$tiny} {
  .logo {
    .logoBox {
      .logoList {
        .logoLink {
        }
      }
    }
  }
}

@media #{$small} {
  .logo {
    .logoBox {
      .logoList {
        .logoLink {
        }
      }
    }
  }
}

@media #{$medium} {
  .logo {
    .logoBox {
      .logoList {
        .logoLink {
        }
      }
    }
  }
}

@media #{$large} {
  .logo {
    .logoBox {
      .logoList {
        .logoLink {
        }
      }
    }
  }
}
