-# app/views/publicboard/home/_header.html.haml

%header.universal.gray03Bg
  .placeholder
    .wrap
      .row12Left
        -# start: Logo
        = render partial: "publicboard/partials/logo"
        -# end: Logo

        -# start: Back
        = render partial: "publicboard/partials/back"
        -# end: Back
    .clear
