-# app/views/publicboard/stores/_list.html.haml

.storesIndex
  .storesIndexBox
    .storesIndexItem
      %h2.storesIndexTitle Lojas Aderentes

  .storesIndexBox
    .storesIndexItem
      %h3.storesIndexSubtitle Hotelaria
  %ul.storesIndexBox
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum

  .storesIndexBox
    .storesIndexItem
      %h3.storesIndexSubtitle Vestuário
  %ul.storesIndexBox
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
    %li.storesIndexList
      %p.storesIndexLabel Ullamcorper Vulputate
      %h3.storesIndexName Sit Justo Vestibulum
