-# app/views/publicboard/stores/_list.html.haml

.grid
  .gridBox
    .gridItem
      %h2.gridTitle Lojas Aderentes

  .gridBox
    .gridItem
      %h3.gridSubtitle Hotelaria
  %ul.gridBox
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum

  .gridBox
    .gridItem
      %h3.gridSubtitle Vestuário
  %ul.gridBox
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
    %li.gridList
      %p.gridLabel Ullamcorper Vulputate
      %h3.gridName Sit Justo Vestibulum
