-# app/views/publicboard/partials/_footer.html.haml

%footer.universal.purple20Bg
  .placeholder
    .wrap
      .row12Left
        -# start: Copyright
        = render partial: "publicboard/partials/copyright"
        -# end: Copyright

        -# start: Sitemap
        = render partial: "publicboard/partials/sitemap"
        -# end: Sitemap
    .clear
