-# app/views/publicboard/partials/_mainMenu.html.haml

.mainMenu
  .mainMenuBox
    .mainMenuList
      = link_to "Lojas", "#", class: "mainMenuLink"
    .mainMenuList
      = link_to "Parceiros", partners_path, class: "mainMenuLink"
    .mainMenuList
      = link_to "Escolas", partners_path, class: "mainMenuLink"
