-# app/views/publicboard/partials/_sitemap.html.haml

.sitemap
  .sitemapBox
    .sitemapList
      = link_to "Sobre", about_path, class: "sitemapLink"
    .sitemapList
      = link_to "Lojas Aderentes", stores_path, class: "sitemapLink"
    .sitemapList
      = link_to "Parceiros", partners_path, class: "sitemapLink"
