-# app/views/publicboard/partials/_sitemap.html.haml

.sitemap
  .sitemapBox
    .sitemapList
      = link_to "Sobre", "#", class: "sitemapLink"
    .sitemapList
      = link_to "Lojas Aderentes", "#", class: "sitemapLink"
    .sitemapList
      = link_to "Parceiros", "#", class: "sitemapLink"
