-# app/views/publicboard/partials/_socialFooter.html.haml

.universal.blue01Bg
  .placeholder
    .wrap
      .row12Left
        -# start: Social Networks
        = render partial: "publicboard/partials/socialNetworks"
        -# end: Social Networks
    .clear
